@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-black: #212121;
  --color-background: #f6f8f6;
  --color-btnn: #424242;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f8f6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Arial, Helvetica, sans-serif;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
